
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 1%;
  left: 1%;
  border-radius: 20px;
}

.container a {
  position: relative;
  width: 120px;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 20px;
  
}

.container a:before,
.container a:after {
  content: '';
  position: absolute;
  inset: 0;
  transition: 0.5s;
  background: #f00
  
}

.container a:nth-child(1):before,
.container a:nth-child(1):after {
  background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4)
}

.container a:nth-child(2):before,
.container a:nth-child(2):after {
  background: linear-gradient(45deg, #f0075b, #0e1538, #1aff22);
}

.container a:hover:before {
  inset: -3px;
}

.container a:hover:after {
  inset: -3px;
  filter: blur(10px);
}

.container a span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #0f0f0f;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #040a29;
  overflow: hidden;
  border-radius: 5px;
}

.container a span::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.075);
  transform: skew(25deg)
}