body {
    background-image: url("/home/img/background_image/011.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.hcenter {
    font-size: 21pt;
    background: linear-gradient(45deg, #000000b6, #b92b2b);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    position: absolute;
    top: 0pt;
    left: 23.5%;
    
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.992);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    backdrop-filter: blur(40px);
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    top: 15%;
    right: 39.5%;

}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(10, 242, 242, 0.992);
}


.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.992);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    backdrop-filter: blur(40px);
    top: 15%;
    left: 15%;

}

.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(4, 246, 20, 0.992);
}

.card1-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card1:hover .card1-inner {
    transform: rotateY(180deg);
}
.card1-front,
.card1-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card1-front {
    background-color: #bbb;
    color: black;
}

.card1-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.992);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    backdrop-filter: blur(40px);
    top: 15%;
    right: 15%;

}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgb(234, 7, 7);
}


.title {
    text-decoration: none;
    font-size: 18px;
    color: black
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}


.checked {
    color: orange;
}